* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  margin: auto;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 10px 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px 0;
}

h3 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 10px 0;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
  margin: 10px 0;
}

h6 {
  font-weight: 600;
  font-size: 15px;
}

p {
  font-size: 0.8rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 20px auto;
  padding: 0 20px;
}
.logo {
  width: 100px;
  object-fit: cover;
  margin: 0;
  display: block;
}

header {
  margin: 10px 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid-cols-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  gap: 20px;
}
.flex-container2 {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 20px;
}

.flex-col-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
  gap: 20px;
  width: 100%;
}

.flex-col-2 p {
  font-size: 1.2rem;
}

.text-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f6f7f8;
}

.search-input {
  width: 300px;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: #f6f7f8;
}

.search-input:focus {
  outline: none;
  border-color: #5c9eff;
  box-shadow: 0 0 0 3px rgba(92, 158, 255, 0.2);
}

.card {
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 20px;
  align-items: start;
}
.badge {
  padding: 10px 20px;
  background: #f5f6f6;
  color: #000;
  border-radius: 55px;
  font-size: 16px;
  font-weight: 500;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

footer {
  height: 50px;
  background: #033926;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-cols-3 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 40px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #033926;
  color: #fff;
  border-radius: 9999px;
  cursor: pointer;
}
